/* Section */
.rond{
	background: #FFCF95;
	width: 45px;
	height: 45px;
	border-radius:50%;
	display: inline-block;
}

.section{
	border-bottom: solid #D4D4D4 1px;
	margin-bottom: 20px;
}

section {
	margin-top: 85px;
}

section > div > .col-xs-2 {
	font-size: 0.8em;
}